<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='displayfile.css') }}">
    <title>Filedisplay</title>
  </head>
  <body>
    <center>
    <table border="1" cellpadding="0" cellspacing="0" width="85%" style="border-collapse:collapse;">
      <!-- Column Titles -->
      <tr>
        <th style="padding: 5px 10px 5px 10px; font-size:20px;">Column</th>
        <th style="padding: 5px 10px 5px 10px;font-size:20px;">Data</th>
      </tr>
      <!-- Data -->
      {% for column_header, column_data in data %}
        <tr>
          <td style="padding: 5px 12px 5px 12px;">{{ column_header }}</td>
          <td style="padding: 5px 10px 5px 20px;">{{ column_data|safe }}</td>
        </tr>
      {% endfor %}
    </table>
  </center>
  </body>
</html>
