<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='filelist.css') }}">
    <title>Filelist Test</title>
  </head>
  <body>
    <table>
      <!-- Column Titles -->
      <tr>
        <th>Relevant Entry ({{ rel_entry_type }})</th>
        <th>Preview</th>
      </tr>
      <!-- Data -->
      {% for item in preview_data %}
      <tr>
        <td><a href="{{ url_for('resultdisp', entry_num=item[0]) }}">{{ item[0] }}</a></td>
        <td>{{ item[1][0] }}<span id="prev_word">{{ item[1][1] }}</span>{{ item[1][2] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
  <!--{{ url_for('resultdisp', entry_num=1) }}-->
</html>
